<div id="body">
  <div id="con">
    <div id="logo-area">
      <img src="https://cdn.prod.website-files.com/64955fc7b431e096dc683699/6499527b181cb5d32c3bac5b_White%20Logo.png" height="100">
      <p> Feugiat primis and ligula laoreet auctor undo mauris auctor laoreet purus pretium a sapien euismod.</p>
      <div id="socal-logo" > <a class="footer-social-icon">  </a> <a class="footer-social-icon central-icon"> </a><a class="footer-social-icon" > </a> </div>
    </div>
    <div id="center-login">

      <h3>  Get Special Offers <br> +News in Your Inbox. </h3>
      <p> By subscribing, you agree to receive marketing messages at this email address and phone number.</p>
      <input type="text" placeholder="Email"><br>
      <input type="password" placeholder="password"><br>
      <button type="submit" >LOGIN</button>
    </div>
    <div id="button-area">
      <span>
         <div>
           <h3> Company </h3>
           <a> About </a>
           <a> Careers </a>
           <a> Contact </a>
           <a> Gallery </a>
      </div>
    </span>
    <span>
      <div>
        <h3> Services </h3>
        <a> Services </a>
        <a> Promotions </a>
        <a> Shop </a>
        <a> Blog </a>
   </div>
 </span>
    </div>
  </div>

  <div id="lower-text">
    <span>© Nailsy 128. All Rights Reserved 2024. Licensing</span>
    <span>Webflow Templatesby 128.digital. Powered by Webfl</span>
  </div>
</div>
