
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

#slide-text{
    // font-family: "Rufina", serif;
  font-size: 50px;
  background-color: #352f28;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  font-weight: 800;
}
