<div id="body">
  <div id="con">
    <div id="text">
      <h2>Exclusively Bridal</h2>
      <p>
        Make your wedding day unforgettable with our luxurious bridal services.
        At Naturals, we rely on premium products and uphold the highest hygiene
        standards to ensure a flawless, radiant look. Trust our expert team to
        provide you with exceptional care and beauty on your special day.
      </p>
      <button type="button" > <a> BOOK NOW</a> </button>
    </div>
    <div id="image">
      <img src="https://naturals.in/assets/bridal_img.png">
    </div>
  </div>
</div>
