<div id="body">
  <div id="con">
    <div id="image">
      <img src="https://naturals.in/assets/academy_image.png">
    </div>
    <div id="text">
      <h2>Naturals Beauty Academy </h2>
      <h5>Learn with the international Experts</h5>
     <p>
      Join Naturals Beauty Academy to gain top-tier beauty training from
      industry experts. Our programs provide hands-on experience and
      essential skills using premium products, preparing you for a
      successful career in the beauty industry.
    </p>
      <button type="button" > <a> BOOK NOW</a> </button>
    </div>

  </div>
</div>
