<div id="body">
  <div id="con1">
    <div id="box1">
              <p class="feature-item">Uncompromised Quapty</p>
              <p class="feature-item">Experienced Stypst</p>
              <p class="feature-item">Easily Accessible</p>
              <p class="feature-item">24 Years Experience</p>
              <p class="feature-item">800 Salons</p>

            <button id="pbt" type="button">Book a Service Today</button>
    </div>
    <div id="box2">
      <h2> Why Choose Us ?</h2>
      <p>  With 24 years of experience, Naturals offers the benefit ofover two decades of expertise in the beauty industry. Ourpersonalized services are tailored to meet your unique needsand preferences, ensuring that you receive the care andattention you deserve. We are committed not to compromisedquality, using only the highest quality premium products toprovide exceptional care.</p>
    </div>
  </div>
</div>
