<div id="body">
  <div id="con">
    <div>
      <div id="art-area">
        <div>
          <img
            src="https://bridal.naturals.in/_next/image?url=https%3A%2F%2Fcdn.deepsense.space%2Fnaturals_bridal_be%2Flive%2Fmedia%2F360x240.webp&w=384&q=75"
          />
          <h2>things Brides Should Avoid</h2>
        </div>
        <div>
          <img
            src="https://bridal.naturals.in/_next/image?url=https%3A%2F%2Fcdn.deepsense.space%2Fnaturals_bridal_be%2Flive%2Fmedia%2F360x240.webp&w=384&q=75"
          />
          <h2>things Brides Should Avoid</h2>
        </div>
        <div>
          <img
            src="https://bridal.naturals.in/_next/image?url=https%3A%2F%2Fcdn.deepsense.space%2Fnaturals_bridal_be%2Flive%2Fmedia%2F360x240.webp&w=384&q=75"
          />
          <h2>things Brides Should Avoid</h2>
        </div>
      </div>
    </div>
    <div>
      <div id="post-area">
        <div>
          <img
            src="https://bridal.naturals.in/_next/image?url=https%3A%2F%2Fcdn.deepsense.space%2Fnaturals_bridal_be%2Flive%2Fmedia%2FSNEHA_-_STYLIST-_BRIDE_M_2JZmFKM.webp&w=96&q=75"
          />
          <h2>bridel accrssores</h2>
        </div>
        <div>
          <img
            src="https://bridal.naturals.in/_next/image?url=https%3A%2F%2Fcdn.deepsense.space%2Fnaturals_bridal_be%2Flive%2Fmedia%2FSNEHA_-_STYLIST-_BRIDE_M_2JZmFKM.webp&w=96&q=75"
          />
          <h2>bridel accrssores</h2>
        </div>
        <div>
          <img
            src="https://bridal.naturals.in/_next/image?url=https%3A%2F%2Fcdn.deepsense.space%2Fnaturals_bridal_be%2Flive%2Fmedia%2FSNEHA_-_STYLIST-_BRIDE_M_2JZmFKM.webp&w=96&q=75"
          />
          <h2>bridel accrssores</h2>
        </div>
      </div>
    </div>
  </div>
</div>
